form {
  display: block;
  margin-bottom: 8px;

  div {
    margin-bottom: 15px;

    label,
    input,
    textarea {
      display: block;
      width: 100%;
    }

    label {
      margin-bottom: 8px;
    }
  }
}

.users-row {
  background-color: #aaaaaa;
  overflow: auto;
}

.users-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.user-item {
  margin: 0 5px;
}

.admin {
  font-weight: bold;

  &:after{
    content: ' (admin)'
  }
}
