<ng-container *ngIf="board$ | async as board">
    <h2 class="app-h2">Board: <span class="text-bold">{{ board.name }}</span></h2>

    <app-users-chip-list [boardId]="board._id" [usernames]="usernames$ | async" [adminUser]="board.adminUser"
        [user]="userMetadata"></app-users-chip-list>

    <button mat-mini-fab class="add-btn" (click)="openAddPrayerRequestDialog()">
        <mat-icon>add</mat-icon>
    </button>

    <p class="empty-board" *ngIf="!prayerRequests?.length">This board is empty. Click the + button in order to add new
        prayer requests.</p>

    <ng-container *ngIf="prayerRequests?.length">
        <app-prayer-request *ngFor="let request of prayerRequests; let i = index;" [prayerRequest]="request"
            (deleteClick)="openDeleteRequestDialog(i)" (prayingClick)="onPrayingClick(i)"
            [enablePrayingButtonSubject]="reenablePrayingButtonSubject"></app-prayer-request>
        <!-- <app-prayer-requests-table [userId]="userMetadata._id"
                                   [prayerRequests]="prayerRequests"
                                   (prayingClick)="onPrayingClick($event)"
                                   (deleteClick)="openDeleteRequestDialog($event)">
        </app-prayer-requests-table> -->


    </ng-container>
</ng-container>


<ng-template #addPrayerRequestFormTpl>
    <h3 mat-dialog-title>Add Prayer Request</h3>

    <div mat-dialog-content>
        <form [formGroup]="form" (ngSubmit)="createPrayerRequest()">
            <mat-form-field>
                <input placeholder="Title" matInput formControlName="title">
                <mat-error>This field is required.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea placeholder="Description" matInput formControlName="description"></textarea>
                <mat-error>This field is required.</mat-error>
            </mat-form-field>
        </form>
    </div>

    <div mat-dialog-actions>
        <button mat-button matDialogClose>Cancel</button>
        <button mat-button matDialogClose (click)="createPrayerRequest()" [disabled]="!form.valid">Submit</button>
    </div>
</ng-template>


<ng-template #deleteRequestConfirmTpl>
    <div mat-dialog-content>
        <div style="padding: 10px 0;">Are you sure?</div>
    </div>

    <div mat-dialog-actions>
        <button mat-button matDialogClose>Cancel</button>
        <button mat-button [matDialogClose]="'yes'" color="warn">Delete</button>
    </div>
</ng-template>