form {
  display: block;
  margin-bottom: 8px;

  div {
    margin-bottom: 15px;

    label,
    input,
    textarea {
      display: block;
      width: 100%;
    }

    label {
      margin-bottom: 8px;
    }
  }
}

mat-chip-list {
  display: block;
}

mat-form-field {
  width: 100%;
}


.add-btn {
  position: absolute;
  top: 0;
  right: -5px;
  transform: translateX(-50%);
}

app-prayer-requests-table {
  margin-top: 30px;
}

.requests-header,
.empty-board {
  margin-top: 30px;
}


app-users-chip-list {
  width: 100%;
}

app-prayer-request {
  margin: 10px 0;
}
