@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$teal-light-primary: mat-palette($mat-teal, 500);
$teal-light-accent: mat-palette($mat-pink, 500);

// The warn palette is optional (defaults to red).
$teal-light-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$teal-light-theme: mat-light-theme($teal-light-primary, $teal-light-accent, $teal-light-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.


$blue-dark-primary: mat-palette($mat-blue, 500);
$blue-dark-accent: mat-palette($mat-orange, 500);
// Create the theme object (a Sass map containing all of the palettes).
$blue-dark-theme: mat-dark-theme($blue-dark-primary, $blue-dark-accent);


$cyan-light-primary: mat-palette($mat-cyan, 600);
$cyan-light-accent: mat-palette($mat-orange, 800);
$cyan-light-theme: mat-light-theme($cyan-light-primary, $cyan-light-accent);

@include angular-material-theme($cyan-light-theme);
@mixin dark-theme {
  & {
    color: white;
    background: rgb(50, 50, 50);
  }
}

.blue-dark-theme {
  @include dark-theme();
  @include angular-material-theme($blue-dark-theme);
}

.teal-light-theme { 
  @include angular-material-theme($teal-light-theme);
}
