/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  color: initial;
}

.app-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.app-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.app-h1 {
  font-size: 22px;
  margin: 25px 0;
}

.app-h2 {
  font-size: 20px;
  margin: 20px 0;
}
