.username {
  font-weight: bold;
}

.board-card {
  position: relative;
  margin-bottom: 25px;

  button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.create-board-btn {
  height: 40px;
}

.home-top-container {
  margin-top: 25px;
  margin-bottom: 45px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}
