<div class="home-top-container">
    <h2 class="app-h2">Your boards</h2>
    <button mat-raised-button color="accent" class="create-board-btn" (click)="createBoardPopup()">
        Create board
    </button>
</div>

<ng-container *ngIf="!(boards$ | async)?.length" [ngTemplateOutlet]="noBoardsTpl"></ng-container>
<ng-container *ngIf="(boards$ | async)?.length" [ngTemplateOutlet]="boardsTpl"></ng-container>

<ng-template #noBoardsTpl>
    <p>You don't seem have any boards yet.</p>
</ng-template>

<ng-template #boardsTpl>
    <div *ngIf="boards$ | async as boards" class="row">
        <div *ngFor="let board of boards" class="col-sm-6 col-md-4 col-lg-3">
            <a [routerLink]="['/board', board._id]">
                <mat-card class="board-card" [routerLink]="['/']">
                    {{board.name}}
                </mat-card>
            </a>
        </div>
    </div>
</ng-template>

<ng-template #newBoardPopupTpl>
    <form class="app-form" [formGroup]="newBoardForm" (ngSubmit)="addBoard()">
        <mat-form-field class="app-form-field">
            <input matInput placeholder="Board name" formControlName="boardName">
            <mat-error>Required.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!newBoardForm.valid">Submit</button>
    </form>
</ng-template>

