<mat-toolbar color="primary">
    <a [routerLink]="['/']">Prayer Requests Board</a>
    <span class="header-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon aria-hidden="false" aria-label="User">person</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
        <ng-container *ngIf="(user$ | async) as user">
            <div class="profile-menu-text">
                Hello <span class="username">{{user.username}}!</span>
            </div>
            <button mat-menu-item (click)="logout()">Sign out</button>
        </ng-container>
        <button mat-menu-item *ngIf="!(user$ | async)" [routerLink]="['/auth']">Sign in</button>
    </mat-menu>
</mat-toolbar>

<main class="container">
    <router-outlet></router-outlet>
</main>

<div class="spinner-container" *ngIf="loading$ | async" [class.display-loader]="displayLoader$ | async">
    <mat-spinner *ngIf="displaySpinner$ | async"></mat-spinner>
</div>