nav ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
  color: unset;
}

.header-spacer {
  flex: 1 1 auto;
}

.profile-menu-text {
  padding: 16px;
}

.username {
  font-weight: bold;
}

main {
  display: block;
  position: relative;
}


.spinner-container {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: rgba(250, 250, 250, 0.8);

  &.display-loader {
    opacity: 1;
  }
}

.notifications-btn {
  ::ng-deep {
    .mat-badge-content {
      top: -5px !important;
      right: -5px !important;
    }
  }
}

.theme-option-color {
  width: 20px;
  height: 20px;
  background: blue;
}

.theme-option-text {
  margin-left: 10px;
}

.theme-option-container {
  display: flex;
  align-items: center;
}
